#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.isConnected {
  color: green;
  font-weight: bolder;
}

.disconnected {
  color: red;
  font-weight: bolder;
}
